@import "tailwindcss";

@plugin "@tailwindcss/typography";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff !important;
}

p {
  text-align: justify;
}

.prose {
  color: #eceff1 !important;
}

.prose h1,
h2,
h3,
h4,
h5 {
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: #098cad;
}

.prose h1 {
  font-size: 1.75em;
  line-height: 2em;
  margin-top: 0 !important;
  font-weight: 900;
}

.prose h2 {
  border-top: 1px solid #ddd;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 2.5em;
  font-style: italic;
  margin: 0;
}

.prose h3 {
  font-size: 1.2em;
}

.prose h4 {
  font-size: 1.1em;
}

.prose h5 {
  font-size: 1em;
}

.prose pre {
  background-color: #33333380 !important;
  border: 1px solid #333333;
  border-radius: 8px;
  padding: 1rem !important;
  margin: 1rem 0 !important;
}

.prose strong {
  color: #098cad;
}

.prose pre code {
  background-color: transparent !important;
  display: block !important;
  padding: 0.25rem !important;
  width: 100%;
}

.prose code::before,
.prose code::after {
  content: "" !important;
  display: none !important;
  width: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.prose :not(pre)>code {
  background-color: #88888820;
  color: #098cad;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-weight: 500;
}

.prose table {
  max-width: 60%;
  font-size: 0.85em;
  margin: 0 auto;
  margin-top: 2em;
}

.prose table td {
  padding: 0.25em;
}

.prose table th {
  font-weight: 700;
  color: #098cad;
  padding: 0.25em;
}

.prose table tbody td:first-child {
  font-weight: 600;
  color: #cecece;
  white-space: nowrap;
}

.prose img {
  margin: 0 auto;
  box-shadow: none;
}