@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --bg-primary: #f8fafc;
    --bg-secondary: #F2F4F6;
    --bg-code: #e8eaec;
    --text-primary: #1E2328;
    --text-muted: #3b4650;
    --border-color: #d4d4d4;
  }

  .dark {
    --bg-primary: #1E2328;
    --bg-secondary: #23282D;
    --bg-code: #333;
    --text-primary: #cdd6df;
    --text-muted: #d6d8db;
    --border-color: #f8fafc;
  }
}

@theme {
  --color-theme-bg: var(--bg-primary);
  --color-theme-bg2: var(--bg-secondary);
  --color-theme-code: var(--bg-code);
  --color-theme-text: var(--text-primary);
  --color-theme-muted: var(--text-muted);
  --color-theme-border: var(--border-color);
}


* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  margin: 0;
}